@model HopAmNhacThanh.Models.HomeViewModels.MainSingleViewModel
<div id="musicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="https://hopamviet.vn/chord/insert_song" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Thêm bài hát mới</h4>
                </div>
                <div class="modal-body">
                    Bạn chưa đăng nhập hoặc bài hát này không phải bạn đăng.
                </div>
            </div>
        </div>
    </form>
</div>


<div id="sheetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="https://hopamviet.vn/chord/insert_sheet" enctype="multipart/form-data" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Thêm sheet nhạc</h4>
                </div>
                <div class="modal-body">
                    Bạn chưa đăng nhập hoặc bài hát này không phải của bạn đăng.
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    .version-model {
        /*background-color: white;*/
    }
</style>
<div class="modal fade version-model" id="versionModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Tất cả phiên bản</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <style>
                        .table {
                            color: black ;
                        }
                        tr.active td{
                            background-color: powderblue !important;
                        }
                        tr.table-content:hover {
                            background-color: yellow;
                        }
                    </style>
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th>Phiên bản</th>
                                <th>Xếp loại</th>
                                <th>Thông tin</th>
                                <th>Tác giả</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                int version = 1;
                            }
                            @foreach (var item in Model.ListChords) {
                                {
                                    
                                    if (item.Selected)
                                    {
                                        ViewData["active"] = "active";
                                    }
                                    else
                                    {
                                        ViewData["active"] = "";
                                    }
                                }
                            <tr class="@ViewData["active"] table-content">
                                <td class="@ViewData["active"]">
                                    @if(item.Name == "")
                                    { 
                                        <a asp-controller="Home" asp-action="Single" asp-route-slug="@Model.Slug" asp-route-slugVersion="@item.Slug">Phiên bản @version</a>
                                        version++;
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="Single" asp-route-slug="@Model.Slug" asp-route-slugVersion="@item.Slug">@item.Name</a>

                                    }
                                </td>
                                <td><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div></td>
                                @if (item.Description == "")
                                {
                                    <td>Chưa có mô tả</td>
                                }
                                else
                                {
                                    <td>@item.Description</td>
                                }
                                <td>
                                    <img src="@item.Author.PictureSmall" width="20px" height="20px" />
                                    <label>@item.Author.FullName</label>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
            <script>
                //$('#myTable').on('click', '.clickable-row', function (event) {
                //    if ($(this).hasClass('active')) {
                //        $(this).removeClass('active');
                //    } else {
                //        $(this).addClass('active').siblings().removeClass('active');
                //    }
                //});
            </script>
        </div>

        <style>
            .active-version {
                background-color: cornflowerblue;
                font-weight: bold;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
            }

                .active-version a {
                    color: white
                }
        </style>
   
    </div>
</div>



