@model HopAmNhacThanh.Models.HomeViewModels.MainSingleViewModel
@{
    string UNDEFINED = "Chưa rõ";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2 style="margin-bottom: 20px; font-size: 14px;  margin-top: 5px;">
            <strong>Tính năng</strong>
        </h2>
        <a class="btn btn-default btn-sm"><i class="fa fa-fw fa-music"></i> Sheet nhac</a>
        <a class="btn btn-warning btn-sm"><i class="fa fa-fw fa-pencil"></i> Thêm phiên bản</a>
        <a class="btn btn-danger btn-sm"><i class="fa fa-fw fa-flag"></i> Báo lỗi</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h2 style="font-size: 14px; margin-top: 5px;">
            <strong>Nghe bài hát</strong>
        </h2>
        <div id="fullsong" style="overflow: auto;">
            @foreach (var item in Model.ListLinkSong)
            {
            <p>
                <i class="fa fa-music"></i>
                @if (item.SingleSongName != "")
                    {
                    <a href=""><strong style="color: #000">@item.SingleSongName</strong></a>
                    }
                    else
                    {
                    <a href=""><strong style="color: #000">@UNDEFINED</strong></a>
                    }
                <span class="pull-right">
                    @*<a href="https://hopamviet.vn/chord/download/W8IUABBO.html" title="Tải bài hát do ca sĩ Bùi Anh Tuấn thể hiện">
                            <i class="fa fa-download"></i>
                        </a>*@
                    <span class="label label-primary">@item.Tone</span>
                </span>
            </p>
            <p>
                <audio style="width: 100%" controls preload="none"><source src="@item.Link" type="audio/mpeg">Your browser does not support the audio element. </audio>
            </p>
            }
        </div>
        <div id="moresong" style="cursor:pointer" onclick="show_fullsong();" align="right"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: white">
        <h2 style="margin-bottom: 5px; font-size: 14px;  margin-top: 5px;">
            <strong>Video liên quan</strong>
        </h2>
    </div>
    <div class="panel-body text-center">
        <div id="fullvideo" class="">
            @foreach (var item in Model.ListVideos)
            {
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@item.Link" frameborder="0" allowfullscreen></iframe>
                    
                </div>
                <p style="margin-bottom: 20px; margin-top: 10px"><a href="">@item.Name</a></p>
            }
        </div>
    </div>
    <div id="morevideo" style="cursor:pointer" onclick="show_fullvideo();" align="right"></div>
</div>
@if (Model.AlbumName != "")
{
    <div class="panel panel-default">
        <div class="panel-body">
            <a asp-controller="category" asp-action="list" style="color:black">
                <h2 style="margin-bottom: 10px; font-size: 14px;  margin-top: 5px;">
                    <strong>Bài hát trong Album @Model.AlbumName</strong>
                </h2>
            </a>
            @foreach (var item in Model.ListSongInAblum)
            {
                <p> <a asp-controller="home" asp-action="single" asp-route-slug="@item.Slug"><i class="fa fa-music"></i> @item.Number. @item.Name</a></p>
            }
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <a asp-controller="category" asp-action="list" style="color: black">
            <h2 style="margin-bottom: 10px; font-size: 14px;  margin-top: 5px;">
                <strong>Bài hát cùng chủ đề</strong>
            </h2>
        </a>
        @foreach (var item in Model.ListSongInCategory)
        {
            <p> <a asp-controller="home" asp-action="single" asp-route-slug="@item.Slug" class="text-primary"><i class="fa fa-music"></i> @item.Name</a></p>
        }
    </div>
</div>
