@model HopAmNhacThanh.Models.HomeViewModels.MainSingleViewModel
@{
    string UNDEFINED = "Chưa rõ";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2 style="margin-bottom: 20px; font-size: 14px;  margin-top: 5px;">
            <strong>Tính năng</strong>
        </h2>
        @if (Model.IsSheetExisted)
        {
            <a asp-controller="Sheet" asp-route-slug="@Model.Slug" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-music"></i> Sheet nhac</a>
        }
        <button id="check-add-new-version" class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#add-new-version"><i class="fa fa-fw fa-pencil"></i> Thêm phiên bản</button>
        <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#report-error"><i class="fa fa-fw fa-flag"></i> Báo lỗi</button>
    </div>
</div>
@if (Model.ListLinkSong.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 style="font-size: 14px; margin-top: 5px;">
                <strong>Nghe bài hát</strong>
            </h2>
            <div id="fullsong" style="overflow: auto;">
                @foreach (var item in Model.ListLinkSong)
                {
                <p>
                    <i class="fa fa-music"></i>
                    @if (item.SingleSong != null)
                    {
                        <a asp-controller="singlesong" asp-action="single" asp-route-slug="@item.SingleSong.Slug"><strong style="color: #000">@item.SingleSong.Name</strong></a>
                        }
                        else
                        {
                        <a href=""><strong style="color: #000">@UNDEFINED</strong></a>
                        }
                    <span class="pull-right">
                        @*<a href="https://hopamviet.vn/chord/download/W8IUABBO.html" title="Tải bài hát do ca sĩ Bùi Anh Tuấn thể hiện">
                                <i class="fa fa-download"></i>
                            </a>*@
                        <span class="label label-primary">@item.Tone</span>
                    </span>
                </p>
                <p>
                    <audio style="width: 100%" controls preload="none"><source src="@item.Link" type="audio/mpeg">Your browser does not support the audio element. </audio>
                </p>
                }
            </div>
            <div id="moresong" style="cursor:pointer" onclick="show_fullsong();" align="right"></div>
        </div>
    </div>
    <script defer>
        $(document).ready(function () {
            //xo ca si the hien
            var song_expand = '<p>Xem thêm các ca sĩ khác <i class="fa fa-chevron-down"></i></p>';
            var song_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
            function show_fullsong() {
                if (document.getElementById('moresong').innerHTML == song_expand) {
                    document.getElementById('fullsong').setAttribute('style', "overflow: auto;");
                    document.getElementById('moresong').innerHTML = song_collapse;
                }
                else if (document.getElementById('fullsong').offsetHeight > 350) {
                    document.getElementById('fullsong').setAttribute('style', "max-height: 150px; overflow: hidden;");
                    document.getElementById('moresong').innerHTML = song_expand;
                }
            }
            show_fullsong();
        });
    </script>
}

@if (Model.ListVideos.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white">
            <h2 style="margin-bottom: 5px; font-size: 14px;  margin-top: 5px;">
                <strong>Video liên quan</strong>
            </h2>
        </div>
        <div class="panel-body text-center">
            <div id="fullvideo" class="">
                <style>
                    .modal-center {
                        text-align: center;
                        padding: 0 !important;
                    }

                        .modal-center:before {
                            content: '';
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                            margin-right: -4px;
                        }

                    .model-dialog-center {
                        display: inline-block;
                        text-align: left;
                        vertical-align: middle;
                    }
                </style>
                @foreach (var item in Model.ListVideos)
                {
                    <div class="col-md-12 text-center" style="margin: 0 0 0 0px">
                        <a href="" data-toggle="modal" data-target="#small-dialog-video_@item.ID">
                            @if (item.Images != null)
                            {
                                <img asp-append-version="true" src="@item.Images.PicVideo" alt="@item.Images.ALT" title="@item.Images.Title" class="img-responsive" />
                            }
                            else
                            {
                                <img asp-append-version="true" src="~/images/Video/null-images.png" alt="Chưa có hình ảnh Video" title="Chưa có hình ảnh video" class="img-responsive" />
                            }
                        </a>
                        <p style="margin-bottom: 20px; margin-top: 10px"><a href="" data-toggle="modal" data-target="#small-dialog-video_@item.ID">@item.Name</a></p>
                    </div>
                        <!-- MODAL -->
                    <div id="small-dialog-video_@item.ID" class="modal fade modal-center" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
                        <div class="modal-dialog model-dialog-center" role="document">
                            <div class="modal-content">
                                <div class="modal-video">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        @{ 
                                            string source = item.Link + "?rel=0&amp;showinfo=0";
                                        }
                                        <iframe class="embed-responsive-item" src="@source"
                                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="morevideo" style="cursor:pointer" onclick="show_fullvideo();" align="right"></div>
    </div>
    <script defer>
        //hiển thị video
        $(document).ready(function () {
            var video_expand = '<p>Xem thêm các video khác <i class="fa fa-chevron-down"></i></p>';
            var video_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
            function show_fullvideo() {
                if (document.getElementById('morevideo').innerHTML == video_expand) {
                    document.getElementById('fullvideo').setAttribute('style', "overflow: auto;");
                    document.getElementById('morevideo').innerHTML = video_collapse;
                }
                else if (document.getElementById('fullvideo').offsetHeight > 350) {
                    document.getElementById('fullvideo').setAttribute('style', "max-height: 230px; overflow: hidden;");
                    document.getElementById('morevideo').innerHTML = video_expand;
                }
            }
            show_fullvideo();
        });
    </script>
}
@if (Model.Album != null)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <a asp-controller="category" asp-action="list" style="color:black">
                <h2 style="margin-bottom: 10px; font-size: 14px;  margin-top: 5px;">
                    <strong>Bài hát trong Album @Model.Album.Name</strong>
                </h2>
            </a>
            <hr style="margin-top: 0px;" />
            @foreach (var item in Model.ListSongInAblum)
            {
                <p> <a asp-controller="home" asp-action="single" asp-route-slug="@item.Slug"><i class="fa fa-music"></i> @item.Number. @item.Name</a></p>
            }
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <a asp-controller="category" asp-action="list" style="color: black">
            <h2 style="margin-bottom: 10px; font-size: 14px;  margin-top: 5px;">
                <strong>Bài hát cùng chủ đề</strong>
            </h2>
        </a>
        <hr style="margin-top: 0px;" />
        @foreach (var item in Model.ListSongInCategory)
        {
            <p> <a asp-controller="home" asp-action="single" asp-route-slug="@item.Slug" class="text-primary"><i class="fa fa-music"></i> @item.Name</a></p>
        }
    </div>
</div>
