@{
    HopAmNhacThanh.Models.HomeViewModels.MainSingleViewModel MainSingle = ViewData["MainSingle"] as HopAmNhacThanh.Models.HomeViewModels.MainSingleViewModel;
    if (MainSingle.Name.Length > 140)
    {
        ViewData["Title"] = MainSingle.Name;
    }
    else
    {
        ViewData["Title"] = MainSingle.Name + " | Hợp Âm Nhạc Thánh";
    }
    ViewData["Desciption"] = MainSingle.Lyric;
    string scheme = Context.Request.Scheme;
    string host = Context.Request.Host.Host;
    string port = Context.Request.Host.Port.ToString();
    string path = Context.Request.Path;
    string url = string.Format("{0}://{1}:{2}{3}", scheme, host, port, path);
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <div class="row">
                        <h3 class="col-md-10 col-sm-6 col-xs-8">
                            @MainSingle.Name
                            <small>
                                @MainSingle.OrtherName
                            </small>
                        </h3>
                        <div class="col-md-2 col-sm-6 col-xs-4">
                            <h3 class="dropdown pull-right">
                                <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#versionModel">Phiên bản</button>
                            </h3>
                        </div>
                    </div>
                    <style>
                        .sub-info > a {
                            margin-right: 5px;
                        }
                    </style>
                    <div class="row">
                        <div class="col-md-12 sub-info" style="vertical-align: middle; padding-top: 5px; line-height: 1.5;
    border-radius: 3px">
                            @if (MainSingle.AuthorSong != null)
                            {
                                <i title="Sáng tác" class="fa fa-leaf"></i> @Html.Raw("Sáng tác:") <a asp-controller="AuthorSong" asp-action="Single" asp-route-slug="@MainSingle.AuthorSong.Slug">@MainSingle.AuthorSong.Name</a>
                            }
                            else
                            {
                                <i title="Sáng tác" class="fa fa-leaf"></i> @Html.Raw("Sáng tác:") <a href="#"> @Html.Raw("Chưa rõ") </a>
                            }
                            @if (MainSingle.Album != null)
                            {
                                <i title="Album" class="fa fa-book"></i> @Html.Raw("Album:") <a asp-controller="Album" asp-action="Single" asp-route-slug="@MainSingle.Album.Slug"> @MainSingle.Album.Name </a>
                            }
                            @if (MainSingle.Category != null)
                            {
                                <i class="fa fa-book"></i> @Html.Raw("Danh mục:") <a asp-controller="Category" asp-action="single" asp-route-slug="@MainSingle.Category.Slug"> @MainSingle.Category.Name </a>
                            }
                            else
                            {
                                <i class="fa fa-book"></i> @Html.Raw("Danh mục:") <a href="#"> @Html.Raw("Chưa phân loại") </a>
                            }
                            @if (MainSingle.Style != null)
                            {
                                <i class="fa fa-music"></i> <a asp-controller="Style" asp-action="Single" asp-route-slug="@MainSingle.Slug"> @MainSingle.Style.Name</a>
                            }
                            else
                            {
                                <i class="fa fa-music"></i> <a asp-controller="Style" asp-action="Single" asp-route-slug="@MainSingle.Slug"> @Html.Raw("Chưa phân loại")</a>
                            }
                            <i title="Lượt xem" class="fa fa-eye"></i> @MainSingle.Views 

                        </div>
                    </div>
                </div>
                <style>
                    .transpose-keys a {
                        color: #333;
                        background-color: #fff;
                        border-color: #ccc;
                    }

                    #lyric, #form-lyric, #intro {
                        margin-top: 20px;
                    }

                    #intro {
                        border: 1px dashed #969696;
                        background-color: #fffce0;
                        padding: 10px 10px;
                        display: inline-block;
                    }
                    /*span.chord ~ span.chord {
                        margin-right: 30px;
                        margin-left: 30px;
                    }*/
                </style>
                <div id="form-lyric">
                    <div class="btn-group">
                        @if (MainSingle.Tone != null)
                        {
                        <div id="musicalKey" style="margin-right: 5px;" class="annotation btn-group"><span class="key btn btn-default btn-sm">@MainSingle.Tone</span></div>
                        }
                        else
                        {
                            <div id="musicalKey" style="margin-right: 5px;" class="annotation btn-group"><span class="key btn btn-default btn-sm">G</span></div>
                        }
                        <div class="btn-group" style="margin-right: 5px;">
                            <span id="fontsize" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-font fa-1x"></i></span>
                            <a id="print" href="#" target="_blank" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-print"></i></a>
                            <span id="clone" class="btn btn-default btn-sm">x2</span>
                            <span id="gopdong" class="btn btn-default btn-sm">Gộp dòng <i class="fa fa-fw fa-check-square-o"></i></span>
                            <span id="fullscreen" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </div>
                    </div>
                    <br />
                    @if (MainSingle.Intro != null) {
                    <div id="intro">
                        @Html.Raw(MainSingle.Intro)
                    </div>
                    }
                    <div id="lyric" style="position: relative">
                        @Html.Raw(MainSingle.Lyric)
                    </div>
                    <div id="draw-chords"></div>
                    <style>
                        #draw-chords {
                            background: #ffffff;
                            display: none;
                            border-radius: 10px;
                            background: #fff;
                            box-shadow: 0 1px 2px rgba(0,0,0,.3);
                            text-align: center;
                            transform: translate3d(0,0,0);
                            user-select: none;
                            outline-style: none;
                        }
                    </style>
                </div>
                <style>
                    .clearfix {
                        zoom: 1 !important;
                        margin-top: 20px !important;
                        margin-bottom: 20px !important;
                        border: 0 !important;
                        border-top: 1px solid #eee !important;
                    }

                    .height_10 {
                        height: 10px !important;
                    }

                    .center-pills {
                        display: inline-block;
                    }

                    span.song-item {
                        margin-right: 15px;
                    }
                </style>
                <div style="margin-top: 50px;">
                    <span class="song-item"><i title="Sáng tác" class="fa fa-user"></i> Người đăng: <a asp-controller="AuthorChords" asp-action="Single" asp-route-slug="@MainSingle.AuthorChords.Slug">@MainSingle.AuthorChords.FullName</a></span>
                    @*<span class="song-item">
                            <i class="fa fa-book"></i> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html">@MainSingle.AlbumName</a>
                        </span>
                        <span class="song-item">
                            <i class="fa fa-book"></i> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html">@MainSingle.CategoryName</a>
                        </span>    <span class="song-item">
                            <i class="fa fa-music"></i> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html">Điệu: @MainSingle.StyleName</a>
                        </span>
                        <span class="song-item"> <i title="Lượt xem" class="fa fa-eye"></i> 25</span>*@
                    <div class="btn-group text-center" style="float:right">
                        <button style="float:right" type="button"
                                id="testBtn"
                                class="btn btn-xs btn-warning glyphicon glyphicon-thumbs-down"
                                data-loading-text=" ... ">
                            4
                        </button>
                        <button style="float: right" type="button" id="testBtnDown" class="btn btn-xs btn-primary glyphicon glyphicon-thumbs-up" data-loading-text=" ... ">
                            4
                        </button>
                    </div>
                </div>
                <div class="clearfix height_10"></div>
                <div class="text-center">
                    <ul class="nav nav-tabs center-pills">
                        <li class="active"><a data-toggle="tab" href="#guitar"><i class="fa fa-book"> Guitar </i></a></li>
                        <li><a data-toggle="tab" href="#ukulele"> Ukulele</a></li>
                        <li><a data-toggle="tab" href="#piano"> Piano</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="guitar" class="tab-pane fade in active">
                            <div id="mytab"></div>
                        </div>
                        <div id="ukulele" class="tab-pane fade">
                            <p>Sẽ cập nhật sau </p>
                        </div>
                        <div id="piano" class="tab-pane fade">
                            <p>Sẽ cập nhật sau </p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="fb-comments" data-width="100%" data-href="@string.Format("{0}",url)" data-numposts="10"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("SidebarSingle", MainSingle)
    </div>
</div>
@await Html.PartialAsync("ModelSingle", MainSingle)
<div id="fb-root"></div>

@section Style {
    <link href="~/lib/ChordPro/css/chopro.css" rel="stylesheet" />
}
@section ScriptsHead {
    <script defer>
        function bodyLoad() {
            chord = "(([A-G][b#]?)((7sus4|7sus2|sus4|sus2|dim|aug|add9|m7M|maj7|m9|m7|m6|m|7M|9|7|6|4|11|m11)?(\\s*[-/]?\\s*)))";
            openBracket = "[\\[\\(]";
            closeBracket = "[\\]\\)]";
            reOneChord = new RegExp(chord, "g");
            reChords = new RegExp(openBracket + "(" + chord + "+)" + closeBracket, "g");
            document.body.innerHTML = document.body.innerHTML.replace(reChords, "<span class=chord>$&</span>");
        }
        function findTone() {
            var tone = $('#lyric > span.chord').first().text();
            tone = tone.replace("[", "");
            tone = tone.replace("]", "");
            $(".key").text(tone);
        }
        var Tone = "@MainSingle.Tone" + " ";
        $(function () {
            bodyLoad();
            if (Tone == " "){
                findTone();
            }
            changeChords();
        });
    </script>
    <script defer src="~/lib/ChordPro/js/elb.js"></script>
    @*<script src="~/lib/ChordPro/js/jquery-1.6.2.min.js"></script>/////*@
    <script defer src="~/lib/ChordPro/js/Transposer.js"></script>
    <script defer>
        jQuery(document).ready(function () {
            var ourKeyElement, ourTransposer;
            ourKeyElement = jQuery("#musicalKey");
            ourTransposer = ELB.Music.aTransposer(ourKeyElement);
        });
    </script>
}
@section Scripts {
    <script defer>
        $(document).ready(function () {
            $("#new-version-submit").click(function () {
                if ($.trim($("#lyric-new-version").val())) {
                    $("#form-new-version-body").hide();
                    $("#form-new-version-footer").hide();
                    $("#thanks-new-version").show();
                    
                    $("#new-version-submit").prop("type", "submit");
                    $("#new-version-submit").submit();
                }
                else { 
                    $("#error-add-version").show();
                }
                });

            $("#reportSong").click(function () {
                if ($.trim($("#error").val())) {
                    $("#form-report").hide();
                    $("#reportSong").hide();
                    $("#footer-report").hide();
                   
                    $("#thank-report").show();
                    $("#reportSong").prop("type", "submit");
                    $("#reportSong").submit();
                }
                else {
                    $("#validate-error").show();
                }
            });
            $(".tbutton").click(function () {
                changeChords();
            });
            $('#lyric').bind("cut copy paste", function (e) {
                /* alert('Copy Paste is disabled');*/
                e.preventDefault();
            });
            $("#fullscreen").click(function () {
                alert("Xin lỗi bạn, tính năng này đang xây dựng. Hãy quay lại khi khác");
            });

            $("#print").click(function () {
                alert("Xin lỗi bạn, tính năng này đang xây dựng. Hãy quay lại khi khác");
            });
            var KhongGopDong = true;
            $("#gopdong").click(function () {
                if (KhongGopDong) {
                    $("span.chord").css('position', 'relative');
                    $("span.chord").css('display', 'inline-block');
                    $("span.chord").css('top', '-1em');
                    
                    $("span.chord").css('width', '0');
                    $("#lyric").css('line-height', '250%');
                    $("#lyric").css('padding-top', '1em');
                    KhongGopDong = false;
                    $(this).empty();
                    $(this).append('Gộp dòng <i class="fa fa-fw fa-square-o" ></i>')
                }
                else {
                    $("span.chord").css('position', '');
                    $("span.chord").css('display', '');
                    $("span.chord").css('top', '');
                    $("span.chord").css('width', '');
                    $("#lyric").css('line-height', '');
                    $("#lyric").css('padding-top', '');
                    KhongGopDong = true;
                    $(this).empty();
                    $(this).append('Gộp dòng <i class="fa fa-fw fa-check-square-o" ></i>')
                }
            });

            $("#fontsize").click(function () {
                var ourText = $("#lyric");
                var currFontSize = ourText.css("fontSize");
                var finalNum = parseFloat(currFontSize, 10);
                var stringEnding = currFontSize.slice(-2);
                var minSize = 14;
                var maxSize = 18;
                if (maxSize > finalNum) {
                    finalNum++;
                } else {
                    finalNum = minSize;
                }
                ourText.css("fontSize", finalNum + stringEnding);
            });
            $("#clone").click(function () {
                $("#lyric").append($("#lyric").clone());
            });
            $('span.chord').mouseover(function () {
                //("#userblock").show();
                var txtChords = $(this).text();
                txtChords = txtChords.replace('[', '');
                txtChords = txtChords.replace(']', '');
                txtChords = txtChords.replace('♭', 'b');
                txtChords = txtChords.replace('♯', '#');
                $("#draw-chords").empty();
                $("#draw-chords").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + txtChords + '</span>');
                var showChords = $("#draw-chords");
                var currentChords = $(this);
                setTimeout(function () {
                    var positionChords = currentChords.offset();
                    showChords.css({
                        position: "absolute",
                        top: positionChords.top - 200 + "px",
                        left: positionChords.left - 70 + "px",

                    }).show();

                    jtab.renderimplicit();
                }, 300);

            }).mouseleave(function () {
                setTimeout(function () {
                    $("#draw-chords").hide();
                }, 300);
            });
        });
        //Change Chords
        function changeChords() {
            var chords = [];
            $('span.chord').each(function () {
                var txtChords = $(this).text()
                txtChords = txtChords.replace('[', '');
                txtChords = txtChords.replace(']', '');
                txtChords = txtChords.replace('♭', 'b');
                txtChords = txtChords.replace('♯', '#');
                chords.push(txtChords);
            });

            //unique string
            var unique = chords.filter(function (itm, i, chords) {
                return i == chords.indexOf(itm);
            });
            var formatText = unique.toString();


            //var repaceText = formatText.split(",").join(" ");
            //var length = repaceText.length;
            //var rowChords = Math.floor(length / 4);
            //alert(rowChords);

            //function myFunction(item, index) {
            //    //demoP.innerHTML = demoP.innerHTML + "index[" + index + "]: " + item + "<br>";
            //    $("#mytab").append('<div class="col-md-3">dfaadfads</div>');

            //    jtab.render($('#mytab'), item);
            //    alert(item);

            //}
            //alert(unique);
            //unique.forEach(myFunction);
            $("#mytab").empty();
            for (var i = 0; i < unique.length; i++) {
                if (unique[i].indexOf("/") > 0)
                {
                    $("#mytab").append('<span class="col-md-6 col-xs-12 jtab chordonly left">' + unique[i] + '</span>');
                } 
                else
                {
                    $("#mytab").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + unique[i] + '</span>');
                }
            }
            $("#mytab").append('<div class="clear"><div class="row"><span></span></div></div>');
            jtab.renderimplicit();

            //jtab.render($('#mytab'), repaceText);
        }

        ////tu dong truot
        //var scrollValue = 1;
        //var scrolldelay;

        //function stopScroll() {
        //    clearTimeout(scrolldelay);
        //}

        //function startScroll() {
        //    window.scrollBy(0, 1);
        //    if ($(window).scrollTop() > ($('#lyric').offset().top + $('#lyric').height() - $(window).height() / 4)) {
        //        stopScroll();
        //    } else {
        //        scrolldelay = setTimeout('startScroll()', 200 / scrollValue);
        //    }
        //}

        //xo ca si the hien
        var song_expand = '<p>Xem thêm các ca sĩ khác <i class="fa fa-chevron-down"></i></p>';
        var song_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
        function show_fullsong() {
            if (document.getElementById('moresong').innerHTML == song_expand) {
                document.getElementById('fullsong').setAttribute('style', "overflow: auto;");
                document.getElementById('moresong').innerHTML = song_collapse;
            }
            else if (document.getElementById('fullsong').offsetHeight > 350) {
                document.getElementById('fullsong').setAttribute('style', "max-height: 150px; overflow: hidden;");
                document.getElementById('moresong').innerHTML = song_expand;
            }
        }
        show_fullsong();

        ////xo ca si the hien
        var video_expand = '<p>Xem thêm các video khác <i class="fa fa-chevron-down"></i></p>';
        var video_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
        function show_fullvideo() {
            if (document.getElementById('morevideo').innerHTML == video_expand) {
                document.getElementById('fullvideo').setAttribute('style', "overflow: auto;");
                document.getElementById('morevideo').innerHTML = video_collapse;
            }
            else if (document.getElementById('fullvideo').offsetHeight > 350) {
                document.getElementById('fullvideo').setAttribute('style', "max-height: 230px; overflow: hidden;");
                document.getElementById('morevideo').innerHTML = video_expand;
            }
        }
        show_fullvideo();
    </script>
}