@model IEnumerable<HopAmNhacThanh.Models.LikeSongChords>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SongID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChordID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Like)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnLike)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateDT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChordID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnLike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
