@using HopAmNhacThanh.Services;

@{
    int? number = ViewData["NumberQuestion"] as int?;
    //List<Temp> list = ViewData["listSinglePuzzleDetails"] as List<Temp>;
}
@if (number.HasValue)
{
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Câu hỏi chi tiết</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @{
                        ViewData["Active"] = "active";
                        int curNumber = 0;
                    }

                    @for (int i = 0; i < number; i++)
                    {
                        curNumber++;
                        ViewData["Active"] = "";
                        if (i == 0)
                        {
                            ViewData["Active"] = "active";
                        }
                        <li class="@ViewData["Active"]"><a href="#Cau_@i" data-toggle="tab">Câu @curNumber</a></li>
                    }
                </ul>
                <div class="tab-content">
                    @for (int i = 0; i < number; i++)
                    {
                        ViewData["Active"] = "";
                        @if (i == 0)
                        {
                            ViewData["Active"] = "active";
                        }
                        <div class="@ViewData["Active"] tab-pane" id="Cau_@i">
                            <form id="@i" method="post" class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tiêu đề</label>
                                    <div class="col-md-10">
                                        <input id="Title_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Mô tả câu hỏi</label>
                                    <div class="col-md-10">
                                        <textarea @*class="ckeditor"*@ id="Description_@i"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Hình ảnh minh hoa</label>
                                    <div class="col-md-10">
                                        <select id="Image_@i" class="form-control" asp-items="ViewBag.ImageID">
                                            <option disabled selected>--- Chọn ---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="checkbox icheck">
                                            <label>
                                                <input id="IsYesNo_@i" type="checkbox"> Câu hỏi đúng sai
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Đáp án A</label>
                                    <div class="col-md-10">
                                        <input id="AnswerA_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Đáp án B</label>
                                    <div class="col-md-10">
                                        <input id="AnswerB_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Đáp án C</label>
                                    <div class="col-md-10">
                                        <input id="AnswerC_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Đáp án D</label>
                                    <div class="col-md-10">
                                        <input id="AnswerD_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Đáp án chính xác</label>
                                    <div class="col-md-10">
                                        <input id="Correct_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Lý do</label>
                                    <div class="col-md-10">
                                        <textarea @*class="ckeditor"*@ id="Reason_@i"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Thẻ</label>
                                    <div class="col-md-10">
                                        <input id="TempTag_@i" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu câu này" id="@i" class="btn btn-success update_form pull-right" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <a class="btn btn-sm btn-info btn-flat pull-left">Quay lại</a>
            <form asp-action="SaveAll" asp-controller="MultiPuzzle" method="post">
                <button type="submit" class="btn btn-sm btn-default btn-flat pull-right">Lưu tất cả</button>
            </form>
        </div>
    </div>
    
}


<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Css{
    <link href="~/plugins/iCheck/square/blue.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        $(".ckeditor").ckeditor();
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    // this is the class of the submit button
    $(".update_form").click(function (e) { // changed.
        e.preventDefault();
            var element = $(this);
            var Id = element.attr("id");
            var Title = 'Title_' + Id;
            var Description = 'Description_' + Id;
            var Image = 'Image_' + Id;
            var IsYesNo = 'IsYesNo_' + Id;
            var AnswerA = 'AnswerA_' + Id;
            var AnswerB = 'AnswerB_' + Id;
            var AnswerC = 'AnswerC_' + Id;
            var AnswerD = 'AnswerD_' + Id;
            var Correct = 'Correct_' + Id;
            var Reason = 'Reason_' + Id;
            var TempTag = 'TempTag_' + Id;
            var Temp = {
                ID: Id,
                Title: $('#' + Title).val(),
                Description: $('#' + Description).val(),
                Image: $('#' + Image).val(),
                IsYesNo: $('#' + IsYesNo).val(),
                AnswerA: $('#' + AnswerA).val(),
                AnswerB: $('#' + AnswerB).val(),
                AnswerC: $('#' + AnswerC).val(),
                AnswerD: $('#' + AnswerD).val(),
                Correct: $('#' + Correct).val(),
                Reason: $('#' + Reason).val(),
                TempTag: $('#' + TempTag).val(),
            };

            $.ajax({
                type: "POST",
                url: "@(Url.Action("SaveTemp", "MultiPuzzle"))",
                data: {
                    Temp: Temp,id: Id
                    },
                dataType: "json",
                success: function (data) {
                    var item = JSON.parse(data);
                    for (var i = 0; i < item.length; i++)
                    {
                        var Title = 'Title_' + i;
                        var Description = 'Description_' + i;
                        var Image = 'Image_' + Id;
                        var IsYesNo = 'IsYesNo_' + i;
                        var AnswerA = 'AnswerA_' + i;
                        var AnswerB = 'AnswerB_' + i;
                        var AnswerC = 'AnswerC_' + i;
                        var AnswerD = 'AnswerD_' + i;
                        var Correct = 'Correct_' + i;
                        var Reason = 'Reason_' + i;
                        var TempTag = 'TempTag_' + i;
                        $('#' + Title).val(item[i].Title);
                        $('#' + Description).val(item[i].Description);
                        $('#' + Image).val(item[i].Image);
                        $('#' + IsYesNo).val(item[i].IsYesNo);
                        $('#' + AnswerA).val(item[i].AnswerA);
                        $('#' + AnswerB).val(item[i].AnswerB);
                        $('#' + AnswerC).val(item[i].AnswerC);
                        $('#' + AnswerD).val(item[i].AnswerD);
                        $('#' + Correct).val(item[i].Correct);
                        $('#' + Reason).val(item[i].Reason);
                        $('#' + TempTag).val(item[i].TempTag);
                        
                    }
                },
                error: function (data) {
                    alert("error : ");
                }
            });
    });

    </script>
}