@*@{
        ViewData["Title"] = "Home Page";
    }

    <h2>Kendo UI DatePicker</h2>

    @(Html.Kendo().DatePicker()
                    .Name("datepicker")
    )*@
@*@model HopAmNhacThanh.Areas.WebManager.ViewModels.DashboardViewModels.DashboardViewModels*@
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    @*<div class="row bg-blue-active" >
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.CountApplicationUserInDay</h3>
                    <p>Thành viên mới trong ngày</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.CountApplicationUserInWeek</h3>
                    <p>Thành viên mới trong tuần</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.CountApplicationUserInWeek</h3>
                    <p>Thành viên mới trong tháng</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.CountApplicationUserTotal</h3>
                    <p>Tất cả thành viên</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row bg-aqua-active">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.CountSingleQuestionInDay</h3>
                    <p>Câu hỏi mỗi ngày mới trong ngày</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.CountSingleQuestionInWeek</h3>
                    <p>Câu hỏi mỗi ngày mới trong tuần</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.CountSingleQuestionInMonth</h3>
                    <p>Câu hỏi mỗi ngày mới trong tháng</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.CountSingleQuestionTotal</h3>
                    <p>Tổng số Câu hỏi mỗi ngày</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row bg-green-active">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.CountMultiQuestionInDay</h3>
                    <p>Câu hỏi mỗi ngày mới trong ngày</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.CountMultiQuestionInWeek</h3>
                    <p>Câu hỏi đặc biệt mới trong tuần</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.CountMultiQuestionInMonth</h3>
                    <p>Câu hỏi đặc biệt mới trong tháng</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.CountMultiQuestionTotal</h3>
                    <p>Tổng số câu hỏi đặc biệt</p>
                </div>
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row bg-red-active">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.CountLikePuzzleInDay</h3>
                    <p>lượt thích trong ngày</p>
                </div>
                <div class="icon">
                    <i class="ion ion-heart"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.CountLikePuzzleInWeek</h3>
                    <p>lượt thích trong tuần</p>
                </div>
                <div class="icon">
                    <i class="ion ion-heart"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.CountLikePuzzleInMonth</h3>
                    <p>lượt thích trong tháng</p>
                </div>
                <div class="icon">
                    <i class="ion ion-heart"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.CountLikePuzzleTotal</h3>
                    <p>Tổng số lượt thích</p>
                </div>
                <div class="icon">
                    <i class="ion ion-heart"></i>
                </div>
                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>*@
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Danh sách bài hát
            </h3>
        </div>
        <div class="panel-body">
            <p>Danh sách bài hát <a href="https://goo.gl/6CvWUG" rel="nofollow" target="_blank">tại đây</a></p>
			<p>Sách <a href="https://drive.google.com/file/d/0B4fdHuC5huA7cWRaVVNYclkxRTg/view?usp=sharing">Thánh ca cũ</a></p>
			<p>Sách <a href="https://drive.google.com/file/d/0B4fdHuC5huA7bjNEOHZibUJBRjQ/view?usp=sharing">Thánh ca mới</a></p>
			<p>Sách <a href="https://drive.google.com/file/d/1l7z73fHnayketwP9I83_jTiIMGSsnDoF/view?usp=sharing">Dâng lời ca</a></p>
        </div>
    </div>
</section>

