
@{
    ViewData["Title"] = "Tìm kiếm hợp âm và lời bài hát với Google";
}
@model List<HopAmNhacThanh.Areas.AutoGetTool.ViewModels.SearchViewModel>
    <hr />
    <div class="row">
        @*<h2 class="text-center text-primary">Tìm kiếm với google</h2>*@

        <div class="search">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <img src="~/images/Google-Logo.svg" class="img-responsive" />
                        </div>
                    </div>

                    <div id="custom-search-input">
                        <form asp-action="Index" method="get">
                            <div class="col-md-6">
                                <div class="input-group ">
                                    <input type="text" name="searchString" class="  search-query form-control" placeholder="Tìm kiếm" />
                                    
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                             </div>
                            <div class="col-md-3">
                                <select name="type" class="form-control">
                                    <option value="1" selected>Hợp âm</option>
                                    <option value="2">Lời bài hát</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="search" name="Number" value="@ViewData["CurrentNumber"]" class="form-control" placeholder="Số lượng" aria-controls="example1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-new-window"></span>
                                        </button>
                                    </span>

                                </div>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <div class="search-body">
            <br /><br /><hr />
            <div class="">
                <ol class="breadcrumb">
                    <li><a href="#">Trang chủ</a></li>
                    <li class="active">Tìm kiếm</li>
                </ol>
            </div>
            <div class="row">

                <div class="col-md-8">

                    @if (Model != null)
                    {
                        int number = 0;
                        int bgColor = 1;
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h2>Kết quả tìm được: </h2></div>
                            <div class="panel-body">
                                @foreach (var item in Model)
                                {
                                    if (bgColor == 1)
                                    {
                                        bgColor = 2;
                                        ViewData["BGColor"] = "bg-warning";
                                    }
                                    else
                                    {
                                        bgColor = 1;
                                        ViewData["BGColor"] = "bg-success";
                                    }
                                    number++;
                                    <hr />
                                    <div class="@ViewData["BGColor"]" style="padding: 10px">
                                        <h3 style="font-size: larger" class=""><a href="@Html.DisplayFor(modelItem => item.Link)">@number. @Html.DisplayFor(modelItem => item.Title)</a></h3>
                                        <div class="Description">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>

                        </div>
                            }
                </div>
                @if(Model != null) {
                    <div class="col-md-4">
                        @*<div class="panel panel-primary text-center">
                            <div class="panel panel-heading">
                                <h2 class="">Phương pháp</h2>
                            </div>
                            <div class="panel-body">
                                <form asp-action="convertXML" asp-controller="Xml">
                                    <button type="submit" class="btn btn-primary btn-group">1. Dựa trên XML</button>
                                </form>
                                <hr />
                                <form asp-action="parser" asp-controller="crfs">
                                    <button type="submit" class="btn btn-warning btn-group">2. Sử dụng CRFs</button>
                                </form>
                                <hr />
                                <form asp-action="" asp-controller="">
                                    <button type="submit" class="btn btn-success btn-group">3. Sử dụng SVM</button>
                                </form>
                                <hr />
                                <form asp-action="" asp-controller="">
                                    <button type="submit" class="btn btn-danger btn-group">4. Sử dụng CRFs-SVM</button>
                                </form>
                                <hr />
                                <form asp-action="index" asp-controller="NhanDienMau">
                                    <button type="submit" class="btn btn-primary btn-group">5. Nhận diện mẫu</button>
                                </form>
                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>*@
                        <div class="panel panel-default">
                            <div class="panel-title">
                                <h3 class="panel-heading">
                                    @if ((int)ViewData["Type"] == 1 )
                                    {
                                        @Html.Raw("Lấy hợp âm");
                                    }
                                    @if((int)ViewData["Type"] == 2)
                                    {
                                        @Html.Raw("Lấy lời bài hát")
                                    }

                                </h3>
                            </div>
                            <div class="panel-body">
                                @if ((int)ViewData["Type"] == 1)
                                {
                                    <form asp-area="AutoGetTool" asp-action="GetChords" asp-controller="NhanDienMau">
                                        <button style="width: 100%" type="submit" class="btn btn-success">Lấy ngay</button>
                                    </form>
                                }
                                @if ((int)ViewData["Type"] == 2)
                                {
                                    <form asp-area="AutoGetTool" asp-action="GetLyrics" asp-controller="NhanDienMau">
                                        <button style="width: 100%" type="submit" class="btn btn-success">Lấy ngay</button>
                                    </form>
                                }
                                
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="alert alert-warning">
                                    Khi lấy dữ liệu vui lòng đợi một thời gian nhé. Vì có thể hơi lâu, xin thông cảm.
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>




