@model List<HopAmNhacThanh.Areas.AutoGetTool.ViewModels.NhanDienLyricViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    @if (Model == null)
    {
        <h2 class="text-danger">Không có dữ liệu</h2>
    }
    else
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Kết quả lấy thông tin</h2>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    @{
                        int number = 1;
                    }
                    @foreach (var item in Model)
                            {
                                if (number == 1)
                                {
                                    ViewData["active"] = "active";
                                }
                                else
                                {
                                    ViewData["active"] = "";

                                }
                            <li class="@ViewData["active"]"><a data-toggle="tab" href="#tab_@number">Câu @number</a></li>
                                number++;
                            }
                </ul>
                <div class="tab-content" style="margin-top:10px;">
                    @{
                                number = 1;
                    }
                    @foreach (var item in Model)
                            {
                                if (number == 1)
                                {
                                    ViewData["active"] = "in active";
                                }
                                else
                                {
                                    ViewData["active"] = "";

                                }

                            <div id="tab_@number" class="tab-pane fade @ViewData["active"]">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label class="control-label">URL</label>
                                            <input class="form-control" value="@Html.DisplayFor(modelItem => item.Url)" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Mẫu</label>
                                            <input class="form-control" value="@Html.DisplayFor(modelItem => item.Template)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Lyric</label>
                                        <textarea class="form-control" cols="5" rows="15">@Html.DisplayFor(modelItem => item.lyric)</textarea>
                                    </div>
                                </div>
                            </div>
                                number++;
                            }
                </div>
            </div>

        </div>

                        }

    <div class="panel panel-primary">
        <div class="panel-body">
            <a asp-area="AutoGetTool" asp-controller="GetLyrics" asp-action="index" class="btn btn-default pull-left">Quay lại</a>
        </div>
    </div>
</div>