@model HopAmNhacThanh.Models.Chords

@{
    string title = "Hợp âm";
    ViewData["Title"] = "Xóa";
    ViewData["Heading"] = title;
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = title;
    ViewData["BreadcrumbThree"] = "Xóa";
    ViewData["BoxTitle"] = "Xóa";
    ViewData["Search"] = "Tìm " + title;
    Layout = "_TableIndexLayout";
}
<h3>Bạn có muốn xóa không?</h3>
<div class="box-body">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoShort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoShort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lyric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lyric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Song.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style.Name)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
