@model HopAmNhacThanh.Areas.WebManager.ViewModels.ChordViewModels.IndexChordViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Danh sách hợp âm";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Hợp âm";
    ViewData["BreadcrumbThree"] = "Danh sách hợp âm";
    ViewData["BoxTitle"] = "Danh sách hợp âm";
    ViewData["Search"] = "Tìm hợp âm";
    Layout = "_TableIndexLayout";
}
<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

    <div class="row">
        @Html.Partial("_SearchIndexPartial", Model)
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SongParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().Song.Name)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["VersionParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().Version)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["StyleParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().Style.Name)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["ToneParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().Tone)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["CreateDTParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().CreateDT)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["ApprovedParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.ListChord.First().Approved)</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListChord)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Song.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Version)
                            </td>
                            <td>
                                @if (item.Style != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Style.Name)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tone)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDT)
                            </td>
                            <td>
                                @if (item.Approved == "A")
                                {
                                    @Html.Raw("Đã duyệt")
                                }
                                else
                                {
                                    @Html.Raw("Chưa duyệt")
                                }
                            </td>
                            <td>
                                @if (item.Approved != "A")
                                {
                                    <a asp-action="EditPublishDT" asp-route-id="@item.ID" class="btn btn-default fa fa-clock-o"></a>
                                    <a asp-action="EditApproved" asp-route-id="@item.ID" class="btn btn-primary fa fa-check"></a>
                                }
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning fa fa-edit"></a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success fa fa-newspaper-o"></a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger fa fa-remove"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.Partial("_PageIndexPartial", Model)
    </div>
</div>