@model HopAmNhacThanh.Models.Song
@{
    ViewData["Title"] = "Chi tiết";
    ViewData["Heading"] = "Bài hát";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Bài hát";
    ViewData["BreadcrumbThree"] = "Chi tiết bài hát";
    ViewData["BoxTitle"] = "Chi tiết bài hát";
    ViewData["Search"] = "Tìm bài hát";
    Layout = "_TableIndexLayout";
}
<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrtherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrtherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VietnameseLyric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VietnameseLyric)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearPublish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorSong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorSong.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <a class="btn btn-default pull-right" asp-action="Index">Quay lai</a>
</div>
