@{
    Layout = null;
    HopAmNhacThanh.Models.SheetMusicViewModels.SingleSheetMusicViewModel single = ViewData["MainSingle"] as HopAmNhacThanh.Models.SheetMusicViewModels.SingleSheetMusicViewModel;
    string scheme = Context.Request.Scheme;
    string host = Context.Request.Host.Host;
    string port = Context.Request.Host.Port.ToString();
    string path = Context.Request.Path;
    string url = string.Format("{0}://{1}:{2}{3}", scheme, host, port, path);
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Raw(ViewData["Title"] as string)</title>
    <meta name="title" content="@Html.Raw(ViewData["Title"])" />
    <meta name="description" content="@Html.Raw(ViewData["Desciption"])" />
    <meta name="keywords" content="@Html.Raw(ViewData["Keyword"])" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi">
    <meta itemprop="homeLocation" content="Vietnam">
    <meta name="robots" content="noodp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])">
    <meta property="og:description" content="@Html.Raw(ViewData["Desciption"])">
    <meta property="og:url" content="@url">
    @if (!String.IsNullOrEmpty(ViewData["Images"] as string))
    {
        <meta property="og:image" content="@Html.Raw(ViewData["Images"])" />
    }
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="@Html.Raw(ViewData["Desciption"])">
    <meta name="twitter:title" content="@Html.Raw(ViewData["Title"])">
    <link rel="dns-prefetch" href="//s.w.org/">
    @*<link rel="alternate" type="application/rss+xml" href="feed/">
        <link rel="alternate" type="application/rss+xml" href="comments/feed/">*@
    <link rel="https://api.w.org/" href="wp-json/">
    <link rel="alternate" href="/" hreflang="vi-vn">
    <link rel="profile" href="//gmpg.org/xfn/11">
    <link rel="canonical" href="@url">
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="icon" sizes="192x192" href="/favicon.ico" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-append-version="true" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body style="background-color: #f1f4f9 !important">
    <div class="panel panel-primary">
        <div id="list-sheet-song" class="panel-body">

            <div class="form-group text-center">
                <a asp-controller="Sheet" asp-action="Download" asp-route-slug="@single.Slug" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-download"></i> Tải về</a>
            </div>
            @if (!Model.Any())
            {
                <div class="text-center">
                    <h3 class="text-primary">Xin lỗi bạn! Chưa có sheet bài hát này. Chúng tôi sẽ cập nhật sớm</h3>
                </div>
            }
            <ul class="nav nav-tabs">
                @if (single.ListJPG.Any())
                {
                    <li class=""><a data-toggle="tab" href="#jpg">JPG</a></li>
                }
                @if (single.ListPNG.Any())
                {
                    <li class=""><a data-toggle="tab" href="#png">PNG</a></li>
                }
                @if (single.ListPDF.Any())
                {
                    <li class=""><a data-toggle="tab" href="#pdf">PDF</a></li>
                }
            </ul>
            <div class="tab-content" style="margin-top:10px;">
                @if (single.ListJPG.Any())
                {
                    <div id="jpg" class="tab-pane fade in">
                        @foreach (var item in single.ListJPG)
                        {
                            <p align="center"><img src="@item.Source" width="100%"></p>
                        }
                    </div>
                }
                @if (single.ListPNG.Any())
                {
                    <div id="png" class="tab-pane fade in">
                        @foreach (var item in single.ListPNG)
                        {
                            <p align="center"><img src="@item.Source" width="100%"></p>
                        }
                    </div>
                }
                @if (single.ListPDF.Any())
                {
                    <div id="pdf" class="tab-pane fade in">
                        @foreach (var item in single.ListPDF)
                        {
                            <p align="center">
                                <object data="@item.Source" height="1000px" width="100%"></object>
                            </p>
                        }
                    </div>
                }
                <script defer>
                    $(document).ready(function () {
                        $("#list-sheet-song > ul > li:first").addClass("active");
                        $("#list-sheet-song > .tab-content > div:first").addClass("active");
                    });
                </script>
            </div>
        </div>
    </div>
    <script defer asp-append-version="true" language="JavaScript">
            if (top.location != self.location)
            { top.location = self.location }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer asp-append-version="true" src="https://www.googletagmanager.com/gtag/js?id=UA-81624325-5"></script>
    <script defer asp-append-version="true">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-81624325-5');
    </script>
    <script defer type="application/ld+json" asp-append-version="true">
        {
        "@@context": "https://schema.org",
        "@@type": "Person",
        "name": "Hop Am Nhac Thanh",
        "url": "https://hopamnhacthanh.net",
        "sameAs": [
        "https://www.facebook.com/hopamnhacthanh/"
        ]
        }
    </script>

</body>
</html>