@model HopAmNhacThanh.Areas.WebManager.ViewModels.AuthorSongViewModels.IndexAuthorSongViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Danh sách tác giả bài hát";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Tác giả bài hát";
    ViewData["BreadcrumbThree"] = "Danh sách";
    ViewData["BoxTitle"] = "Danh sách tác giả bài hát";
    ViewData["Search"] = "Tìm tác giả bài hát";
    Layout = "_TableIndexLayout";
}
<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

    <div class="row">
        @Html.Partial("_SearchIndexPartial", Model)
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.List.First().Name)</a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.List.First().Slug)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>
                            <td>
                                @if (item.Approved != "A")
                                {
                                    <a asp-action="EditPublishDT" asp-route-id="@item.ID" class="btn btn-default fa fa-clock-o"></a>
                                    <a asp-action="EditApproved" asp-route-id="@item.ID" class="btn btn-primary fa fa-check"></a>
                                }
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning fa fa-edit"></a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success fa fa-newspaper-o"></a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger fa fa-remove"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.Partial("_PageIndexPartial", Model)
    </div>
</div>