@model HopAmNhacThanh.Models.SinglePuzzle

@{
    ViewData["Title"] = "Chi tiết";
    ViewData["Heading"] = "Câu đố đơn";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Câu đố đơn";
    ViewData["BreadcrumbThree"] = "Chi tiết câu đố";
    ViewData["BoxTitle"] = "Chi tiết câu đố";
    ViewData["Search"] = "Tìm câu đố";
    Layout = "_TableIndexLayout";
}
<div class="box-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsYesNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsYesNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMMultiPuzzle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMMultiPuzzle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiPuzzleID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiPuzzleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <a class="btn btn-default pull-right" asp-action="Index">Quay lai</a>
</div>