@model List<HopAmNhacThanh.Models.SidebarViewModels.BestSimpleSongViewModel>
<div class="panel-heading sidebar-panel-heading">
    <h2 class="panel-title sidebar-panel-title">Bài hát xem nhiều trong tuần</h2>
</div>
<div class="panel-body">
    <div>
        @{
            var number = 1;
        }
        @foreach (var item in Model)
            {
            <p>
                <a asp-controller="home" asp-action="single" asp-route-slug="@item.Slug" asp-route-slugVersion="@item.Version">
                    @number.
                    @item.Name
                </a>
                <span style="float:right">@item.Views <i class="fa fa-eye"></i></span>
            </p>
                @*<span class="hot-today-item-singers">
                        <a href="/artist/23465/jayk">
                            JayK
                        </a>
                    </span>*@
            number++;
        }
    </div>

</div>