@model HopAmNhacThanh.Models.CommonViewModels.CommonListViewModel
 <div class="row">
@foreach (var item in Model.List)
{
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#">
                    @if (!item.ImageID.HasValue)
                    {
                        <img src="http://placehold.it/700x400" class="img-responsive" />
                    }
                    else
                    {
                        <img src="@item.Image." alt="@item.Image.ALT" class="img-responsive" />
                    }
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-controller="album" asp-action="single" asp-route-slug="@item.Slug">@item.Name</a>
                    </h4>
                    <p class="card-text">@item.Description</p>
                </div>
            </div>
        </div>
}
</div>

