@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    @{
        string scheme = Context.Request.Scheme;
        string host = Context.Request.Host.Host;
        string port = Context.Request.Host.Port.ToString();
        string slug = Context.Request.Path;
        string url = string.Format("{0}://{1}:{2}{3}", scheme, host, port, slug);
    }
    <title>@Html.Raw(ViewData["Title"] as string)</title>
    <meta name="title" content="@Html.Raw(ViewData["Title"])" />
    <meta name="description" content="@Html.Raw(ViewData["Desciption"])" />
    <meta name="keywords" content="@Html.Raw(ViewData["Keyword"])" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi">
    <meta itemprop="homeLocation" content="Vietnam">
    <meta name="robots" content="noodp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])">
    <meta property="og:description" content="@Html.Raw(ViewData["Desciption"])">
    <meta property="og:url" content="@url">
    @if (!String.IsNullOrEmpty(ViewData["Images"] as string))
    {
        <meta property="og:image" content="@Html.Raw(ViewData["Images"])" />
    }
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="@Html.Raw(ViewData["Desciption"])">
    <meta name="twitter:title" content="@Html.Raw(ViewData["Title"])">
    <link rel="dns-prefetch" href="//s.w.org/">
    @*<link rel="alternate" type="application/rss+xml" href="feed/">
        <link rel="alternate" type="application/rss+xml" href="comments/feed/">*@
    <link rel="https://api.w.org/" href="wp-json/">
    <link rel="alternate" href="/" hreflang="vi-vn">
    <link rel="profile" href="//gmpg.org/xfn/11">
    <link rel="canonical" href="@url">
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="icon" sizes="192x192" href="/favicon.ico" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/lib/jtab-tardate/css/jtab-helper.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>    
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" asp-append-version="true" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet">
        <link href="~/lib/jtab-tardate/css/jtab-helper.min.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    @RenderSection("Style", required: false)
    <environment names="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jtab-tardate/javascripts/raphael.js"></script>
        <script src="~/lib/jtab-tardate/javascripts/jtab.js"></script>
       
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" asp-append-version="true"></script>
        <script defer src="~/lib/jtab-tardate/javascripts/raphael.min.js" asp-append-version="true"></script>
        <script defer src="~/lib/jtab-tardate/javascripts/jtab.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("ScriptsHead", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="background-color: #f1f4f9 !important">

    <script src="~/lib/transposer/jquery.transposer.js"></script>
    @Html.Partial("_HeaderPartial")
    <div class="container" style="margin-top: 80px !important">
        @RenderBody()
        <hr />
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            &copy; 2017 <a asp-controller="Home" asp-action="index">hopamnhacthanh.net</a>
                            @*<a asp-controller="index" a>Giới thiệu</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_LoginModelPartial")
    @RenderSection("Scripts", required: false)
    
    <script defer asp-append-version="true">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1936754129675486";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script defer asp-append-version="true" language="JavaScript">
        if (top.location != self.location)
        { top.location = self.location }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer asp-append-version="true" src="https://www.googletagmanager.com/gtag/js?id=UA-81624325-5"></script>
    <script defer asp-append-version="true">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-81624325-5');
    </script>
    <script defer type="application/ld+json" asp-append-version="true">
        {
        "@@context": "https://schema.org",
        "@@type": "Person",
        "name": "Hop Am Nhac Thanh",
        "url": "https://hopamnhacthanh.net",
        "sameAs": [
        "https://www.facebook.com/hopamnhacthanh/"
        ]
        }
    </script>
    
</body>
</html>
